/build/
/dist/Dimserenes-Modpack/
/dist/Fine-tuned-Pack/
/dist/Vanilla-Plus-Pack/
/dist/Insane-Pack/
/dist/Cruel-Pack/
/dist/Coonies-ModPack/
/dist/Taquin-Paquet/
*.spec
excluded_mods.json
user_settings.json